<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>색상 테스트</title>
</head>
<body>
    <h1>색상 테스트</h1>
    <form action="/KH_JSP_war_exploded/test3.do" method="get">
        <select name="colorPick" id="selectColor">
            <option value="red">빨간색</option>
            <option value="orange">주황색</option>
            <option value="yellow">노란색</option>
            <option value="green">초록색</option>
            <option value="blue">파란색</option>
            <option value="purple">보라색</option>
        </select>

        &nbsp;
        &nbsp;
        <input type="submit" value="선택하기">
    </form>
</body>
</html>